.github{
    width:1000px;
    height:540px;
}

#power{
    position:fixed;
    bottom:30px;
    right:10px;
}

.stage{
    width:800px;
    height:400px;
}

#github_name{
    text-align: right;
    padding-right:180px;
}